body{
    background: #F1F8E9 !important;
}
.navbar-default{
    background: #81C784;
}
ul > li > a {
    color: white !important;
    font-size: 20 !important;
}

.custom-file-upload {
    cursor: pointer;
}       
