    body{
        background-color: #b7b7b7;
    }
.jumbotron{
background:#B04400;
height:250;
background-size:cover;
background-repeat:no-repeat;
background-position:center;
color: whitesmoke;
	}
    .navbar-inverse{
        background: #B04400;
    }